/* header */
:root {
  --bg-py: #3b71fe;
  --bg-cy: #777e90;
}
.header {
  padding: 32px 0;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar__logo::after {
  content: "";
  width: 1px;
  height: 48px;
  background: #e6e8ec;

  /* background: red; */
}
.navbar__item {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  color: #777e90;
}
.nav__title select {
  outline: none;
  border: none;
}
.nav__title {
  margin-left: 40px;
  flex: 1;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar__collection {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar__btn {
  padding: 10px 14px 10px 14px;
  gap: 12px;
  border-radius: 90px;
  border: none;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #23262f;
  background: #fff;
  border: 2px solid #e6e8ec;
}
.fa-bars {
  font-size: 30px;
  display: none;
}
/* hero */
.hero {
  max-width: 1280px;
  height: 776px;
  background: url(../assets/hero.png) no-repeat center/cover;
  border-radius: 24px;
}
.hero__content {
  width: 100%;
  height: 80%;
  background: linear-gradient(
    rgba(236, 248, 252, 0.84),
    rgba(236, 248, 252, 0.81),
    #ecf8fc00
  );
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hero__content h2 {
  font-family: DM Sans;
  font-size: 96px;
  font-weight: 700;
}
.hero__content {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
}
.hero__btn {
  padding: 16px 24px 16px 24px;
  border-radius: 90px;
  border: none;
  background: var(--bg-py);
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
}
.hero__btn:hover {
  background: #3b72fea8;
  cursor: pointer;
}
.hero__btn:active {
  transform: scale(0.99);
}
/* linear */
.linear__content h2 {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.linear__content p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.linear__content {
  margin-bottom: 48px;
  margin-top: 228px;
}
.linear__card img {
  border-radius: 24px;
}
.linear__card h2 {
  padding-top: 20px;
  padding-bottom: 8px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
}
.linear__card p {
  font-family: Poppins;
  font-size: 12px;
  color: var(--bg-cy);
}
.linear__card {
  width: 352px;
  height: 236px;
}
.linear {
  display: flex;
  gap: 32px;
  /* flex-wrap: wrap; */
  overflow-x: auto;
}
.linear__btn {
  padding: 10px 28px 10px 28px;
  border-radius: 90px;
  border: 2px solid #e6e8ec;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  margin-bottom: 136px;
}
.linear__btn:hover {
  background: #e6e8ec;
  cursor: pointer;
}
.linear__btn:active {
  scale: 0.98;
}
/* fleet */
.fleet {
  margin-bottom: 200px;
}
.fleet__text strong {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
.fleet__text h2 {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  max-width: 448px;
  padding-top: 16px;
  padding-bottom: 32px;
}
.fleet__text p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  max-width: 448px;
  padding-bottom: 40px;
}
.input__type {
  padding: 15px 30px 15px 30px;
  border-radius: 90px;
  border: 2px solid #e6e8ec;
}
.fleet__icons {
  width: 32px;
  height: 32px;
  background: var(--bg-py);
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 18%;
  right: 52%;
  color: #fff;
}
.phone {
  display: none;
}
.fleet {
  display: flex;
  align-items: center;
}
/* card */
.card__content h2 {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
}
.card__content p {
  font-family: Poppins;
  font-size: 24px;
  line-height: 32px;
  color: var(--bg-cy);
  padding-top: 12px;
  margin-bottom: 48px;
}
.card__img h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.card__img p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--bg-cy);
  margin-bottom: 48px;
}
.card {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}
.section {
  overflow: hidden;
}
/* body */
.body {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.body__text {
  text-align: center;
  margin-bottom: 92px;
}
.body__text strong {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
}
.body__text h2 {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 32px;
}
.body__btn {
  padding: 16px 24px 16px 24px;
  border-radius: 90px;
  border: none;
  background: var(--bg-py);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.body__btn:hover {
  background: #3b72fe9d;
  cursor: pointer;
}
.body__btn:active {
  scale: 0.98;
}

.body__card {
  min-height: 320px;
  border-radius: 20px;
  background: #f4f5f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
}
.fa-face-smile {
  font-size: 30px;
  color: #fa8f54;
  padding-bottom: 36px;
}
.body__card strong {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #23262f;
  padding-bottom: 16px;
}
.body__card p {
  font-family: Poppins;
  font-size: 14px;
  max-width: 293px;
}
.fa-bolt-lightning {
  font-size: 30px;
  color: #8bc5e5;
  padding-bottom: 36px;
}
.fa-gift {
  font-size: 30px;
  padding-bottom: 36px;
  color: #58c27d;
}
